.operator-login-container {
  height: 932px;
  background-image: url("busopp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}